<DOCTYPE html>
<html>
<head>
	<title>Cars</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			 $('img').click(function(){
                $(this).hide(1000);
            });

			 $(".reset").click(function(){
			 	$("img").show(1000);
			 });
		}

		);
	</script>
	<style type="text/css">
	
	#content{
		margin: auto;
		width: 960px;
	}
	#content img{
		width: 300px;
		height: 200px;
	}
	.reset {
		position: fixed;
		clear: both;
		width: 100px;
		height: 50px;
		border-radius: 10px;
		background-color: green;
		color: white;
		border: none;
		font-size: 2em;
	}

	</style>
</head>
<body>
<div id="content">
	<div>
		<img src="../images/ford.jpg" />
	    <img src="../images/best.jpg" />
	    <img src="../images/blue.jpeg" />
	    <img src="../images/car-8.jpg" />
	    <img src="../images/ferrari.jpg" />
	    <img src="../images/mazda.jpeg" />
	    <img src="../images/multi.jpg" />
	    <img src="../images/orange.jpg" />
    </div>
    <div>

    <button class="reset">Reset</button>
    
    <div>



</div>
</body>
</html>